<p class="customer">
  <%= t(:dear_customer, :default => "Dear %{name},", :name => @shipment.order.bill_address ? @shipment.order.bill_address.full_name : 'Customer' ) %>
</p>
<p class="overview">
  Thank you for your business.  Your shipment has been shipped!
</p>
<p class="link">
  To view the complete details of your order use the following link:
  <%= link_to(order_url(@shipment.order, :host => Spree::Config[:site_url]), order_url(@shipment.order, :host => Spree::Config[:site_url]), target: '_blank') %>
</p>

<% if @shipment.tracking.present? %>
  <h2><span>Tracking Information</span></h2>
  <p class="tracking">
    Tracking/shipment number:
    <%= link_to @shipment.tracking, "http://google.com/search?&q=#{@shipment.tracking}", target: '_blank' %>
    <%= Spree.t('shipment_mailer.shipped_email.track_link', :url => @shipment.tracking_url) if @shipment.tracking_url %>
  </p>
<% end %>

<h2>Order Summary</h2>
<%= render :partial => 'spree/shared/email/order_details', :locals => {:order => @shipment.order} %>
